* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: 'Phosphene Reg';
  src: url('../assets/PhospheneFont-Regular.ttf');
}

@font-face {
  font-family: 'FT88 Bold';
  src: url('../assets/FT88-Bold.otf');
}

@font-face {
  font-family: 'FT88 School';
  src: url('../assets/FT88-School.otf');
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

// #root {
//   min-width: 100vw;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

// main {
//   height: 100vh;
// }

header {
  position: fixed;
  z-index: 1;
  min-width: 100vw;
  font-family: 'FT88 School', 'VT323', monospace;
  font-size: 1.3em;
  padding: 10px 20px;

  nav {
    div {
      button {
        // font-weight: bold;
        padding: 0.15em 0.4em;
        border: 2.5px solid black;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-family: 'FT88 School', 'VT323', monospace;
  font-size: 1.3em;
  padding: 10px 20px;

  button {
    padding: 0.15em 0.4em;
    border: 2.5px solid black;
  }

  form {
    input {
      padding: 0.15em 0.4em;
      border: 2.5px solid black;
    }
  }
}

.help-btn {
  margin: 0 2em 0 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  margin: 0 0 0 2em;
}

.entrance-page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  align-items: flex-end;
  background-image: url('../assets/entrance.png');
  background-repeat: no-repeat;
  background-position: top;
}

.login-form,
.register-form {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: white;

  .form-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding: 2em;
    border: 5vmin solid grey;
    border-image: url('../assets/frame.png') 35 round;
    background-color: rgb(231, 220, 207);
    font-family: 'FT88 Bold';

    h1 {
      font-family: 'FT88 School';
      font-weight: bold;
      font-size: 1.8em;
    }

    div {
      margin-bottom: 1em;

      input {
        border: 2.5px solid black;
        border-radius: 0;
      }

      button {
        width: 200px;
        // margin: 0 5.5em;
      }

      p {
        a:link {
          color: black;
        }

        a:hover {
          color: white;
        }
      }
    }
  }
}

.register {
  background-image: url(../assets/signup.png);
  width: 250px;
  height: 300px;
  background-color: transparent;
  border: none;
}

.login {
  background-image: url(../assets/login.png);
  width: 250px;
  height: 300px;
  background-color: transparent;
  border: none
}

.show-btn {
  display: block;
}

.hide-btn {
  display: none;
}

// .zoomed-in {
//   transform: scale(2.5, 2.5);
//   transform-origin: 0 0;
//   // min-width: 100vw;

// }


// .painting, .artwork-img {
//   // width: 500px;
//   height: 350px;
//   margin: 0 30vmin 5vmin 30vmin;
//   border: 5vmin solid grey;
//   border-image: url('../assets/frame.png') 35 round;
//   img {
//     object-fit: cover;
//     // max-width: 100%;
//     max-height: 100%;
//   }
// }

.artwork-img {
  img {
    width: 350px;
    // margin: 0 30vmin 5vmin 30vmin;
    border: 5vmin solid grey;
    border-image: url('../assets/frame.png') 35 round;
    object-fit: cover;
    // max-width: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    background-clip: content-box;
  }
}

.painting {
  img {
    height: 350px;
    // margin: 0 30vmin 5vmin 30vmin;
    border: 5vmin solid grey;
    border-image: url('../assets/frame.png') 35 round;
    object-fit: cover;
    // max-width: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    background-clip: content-box;
  }
}

.artwork-details,
.update-form {
  height: 350px;
  margin: 0 30vmin 5vmin 30vmin;
  border: 5vmin solid grey;
  border-image: url('../assets/frame.png') 35 round;
}

.sprite {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.stand {
  width: 250px;
  height: 300px;
  background: url(../assets/sprite.png) 0 0;
}

.walk-right {
  width: 250px;
  height: 300px;
  background: url(../assets/sprite.png) 0 -600px;
  animation-name: right;
  animation-duration: 0.4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

@keyframes right {
  0% {
    background: url(../assets/sprite.png) 0 -600px
  }

  50% {
    background: url(../assets/sprite.png) -250px -600px
  }

  100% {
    background: url(../assets/sprite.png) -500px -600px
  }
}

.walk-left {
  width: 250px;
  height: 300px;
  background: url(../assets/sprite.png) 0 -300px;
  animation-name: left;
  animation-duration: 0.4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

@keyframes left {
  0% {
    background: url(../assets/sprite.png) 0 -300px
  }

  50% {
    background: url(../assets/sprite.png) -250px -300px
  }

  100% {
    background: url(../assets/sprite.png) -500px -300px
  }
}

.profile-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.profile-content {
  display: flex;
  flex-direction: column;
  font-family: 'FT88 Bold';

  h4 {
    font-family: 'FT88 School';
    font-weight: bold;
    padding-left: 0.5em;
    // font-weight: bold;
    font-size: 2em;
  }
}

.default-user {}

.profile-wrapper-one {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;

  img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border: 2.5px solid black;
  }

  .info-wrapper {
    width: 200px;
    display: flex;
    align-items: center;

    dd {
      padding: 0.2em 0.4em;
      border: 2.5px solid black;
      width: 200px;
      height: 2em;
    }
  }
}

.profile-wrapper-two {
  display: flex;
  flex-direction: column;
  padding: 0.5em;

  dd {
    padding-bottom: 0.5em;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;

  button {
    padding: 0.3em 1em;
    border: 2.5px solid black;
  }
}

.profile-form,
.create-artwork-form {
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  font-family: 'FT88 Bold';

  h1 {
    font-family: 'FT88 School';
    font-weight: bold;
    font-size: 1.8em;
  }

  div {
    margin-bottom: 1em;

    input {
      border: 2.5px solid black;
      border-radius: 0;
    }

    button {
      width: 200px;
      // margin: 0 5.5em;
    }
  }
}

.collection-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.section {
  background-image: url('../assets/gallery.png');
  background-position: contain;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-artwork,
.create-artwork-form {
  width: 800px;
  height: 500px;
  border: 5vmin solid grey;
  border-image: url('../assets/frame.png') 35 round;
  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: gray;
  .create-artwork-btn {
    width: 200px;
    height: 200px;
    font-family: 'FT88 School';
    font-size: 7em;
  }
}

.create-artwork {
  background-color: antiquewhite;
  background-clip: content-box;
}

.create-artwork-form {
  flex-direction: column;
}

.painting-wrapper {
  display: flex;
  flex-wrap: nowrap;
  // width: 400%;
}

.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/grid.png');
  background-repeat: no-repeat;
  background-position: center;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 2.5px solid black;

  button {
    width: 2em;
    height: 2em;
    font-weight: bold;
    border: 2.5px solid black;
  }
}

.directory-list {
  list-style: none;

  li {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    a {
      padding-left: 2em;
      font-size: 1.5em;
      text-decoration: none;
    }
  }

}

.comments-container {
  border: 2.5px solid black;
  width: 300px;
  height: 200px;
  padding: 1em;
  margin-bottom: 1em;
  overflow-y: scroll;
}

.artist-page {
  background-image: url('../assets/grid.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .artist-page-top {
    display: flex;
    margin: 2em;

    h1 {
      width: 400px;
      height: 180px;
      text-align: center;
      border: 5vmin solid grey;
      border-image: url('../assets/frame.png') 35 round;
      background-color: antiquewhite;
      background-clip: content-box;
      font-family: 'FT88 School';
      font-weight: bold;
    }

    button {
      width: 50px;
      height: 50px;
      margin-left: 2em;
    }
  }

  .artist-page-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}