* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

canvas {
  border: 1p solid black;
}

.show-btn {
  display: block;
}

.hide-btn {
  display: none;
}

.zoomed-in {
  transform: scale(1.7);
  transform-origin: 0 0;
}

.painting img{
  width: 500px;
  height: 350px;
  object-fit: cover;
}
